@model CorporateCompany.Areas.Admin.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Add User Page
            </header>
            <div class="panel-body">
                <form asp-controller="Account" asp-action="AddUser" method="post" role="form" class="form-horizontal tasi-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group has-success">
                        <label asp-for="Email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                            <input asp-for="Email" type="text" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label asp-for="UserName" class="col-lg-2 control-label">Username:</label>
                        <div class="col-lg-10">
                            <input asp-for="UserName" type="text" placeholder="UserName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label asp-for="Password" class="col-lg-2 control-label">Password:</label>
                        <div class="col-lg-10">
                            <input required asp-for="Password" type="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label asp-for="ConfirmPassword" class="col-lg-2 control-label">Confirm Password:</label>
                        <div class="col-lg-10">
                            <input required asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
@section Scripts {
    <script src="~/js/file-input.js"></script>
    <script type="text/javascript">
        function textClear(textName) {
            event.preventDefault();
            $('#' + textName).val('');
        };
    </script>
    <script>
        $(document).ready(function () {
            $('#Phone').usPhoneFormat();
        });
    </script>
    <script src="~/js/phone-number-validator.js"></script>
}