@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml" lang="tr">
<head>
    
    <title>403 Forbidden!</title>
    <link href="~/lib/home/css/403.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h1>
        4<div class="lock">
            <div class="top"></div><div class="bottom"></div>
        </div>3
    </h1><p>Access denied</p>
</div>
<script src="~/lib/home/js/403.js"></script>
</body>
</html>