@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>500 Internal Server Error!</title>
   
    <link href="~/lib/home/css/500.css" rel="stylesheet" />

</head>
<body>
<div class="titanic"></div>

<h1 data-txt="5⬡⬡" aria-label="Internal Server Error">5<span data-overlay="🤦‍♀️">⬡</span><span data-overlay="🤦‍♂️">⬡</span></h1>
<h3>Internal Servel Error! Sunucumuzla ilgili bir problem olmalı. Üzerinde Çalışıyoruz...</h3>

</body>
</html>