@model CorporateCompany.Areas.Admin.Models.Article

@{
    ViewBag.Title = "İnsan Kaynakları Politikaları";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Policies
            </header>
            <div class="panel-body">
                <form asp-area="Admin" asp-controller="Policies" asp-action="Index" method="post" role="form" class="form-horizontal tasi-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group has-success">
                        <input type="hidden" asp-for="Id">
                        <label asp-for="Name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                            <input asp-for="Name" type="text" placeholder="Name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <label asp-for="Description" class="col-lg-2 control-label">Description:</label>
                        <div class="col-lg-10">
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>